<div class= "content">
  <h1>
    Dojo Email
  </h1>
  <table width=600>
    <thead>
      <tr>
        <th>Email</th>
        <th>Importance</th>
        <th>Subject</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let email of emails'>
        <td>{{email.email | lowercase}}</td>
        <td *ngIf='email.importance'>High</td>
        <td *ngIf='!email.importance'>Low</td>
        <td>{{email.subject}}</td>
        <td>{{email.content}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <h5 *ngIf='loggedIn'> You're logged in as Goku </h5> // will show -->
